@model Project.Models.Entities.SubjectClass

@{
    ViewData["Title"] = "Edit SubjectClass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>SubjectClass</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SubjectClassId" />
            <div class="form-group">
                <label asp-for="SubjectId" class="control-label"></label>
                <select asp-for="SubjectId" class="form-control" asp-items="ViewBag.SubjectId"></select>
                <span asp-validation-for="SubjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LecturerId" class="control-label"></label>
                <select asp-for="LecturerId" class="form-control" asp-items="ViewBag.LecturerId"></select>
                <span asp-validation-for="LecturerId" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 10px; margin-bottom: 10px">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Mã sinh viên
            </th>
            <th>
                Tên sinh viên
            </th>
            <th>
                Ngày
            </th>
            <th>
                Điểm
            </th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.Scores != null)
        {
            @foreach (var score in ViewBag.Scores)
            {
                <tr>
                    <td>@score.StudentId</td>
                    <td>@score.Student.FullName</td>
                    <td><input value="@score.Date" type="date"/></td>
                    <td><input value="@score.ScoreSubject"/></td>
                </tr>
            }
        }
    </tbody>
</table>
<buttton class="btn btn-primary">Save</buttton>
<div>
    <a asp-action="Index">Back to List</a>
</div>

